@model List<WebBlog.Models.Post>
@{
    ViewData["Title"] = "Danh sách bài viết";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    <a class="btn btn-primary mb-1" asp-action="Create" asp-controller="Post">Tạo bài biết</a>
    <div class="card">
        <div class="card-header bg-primary">
            <h4 class="card-title text-white">Danh sách người dùng</h4>
        </div>
        <div class="card-body">
           @*  <table class="table table-striped table-hover" id="myTable">
                <thead>
                    <tr>
                        <th>Tiêu đề</th>
                        <th>Ghi chú</th>
                        <th>Nội dung</th>
                        <th>Ảnh</th>
                        <th>Người tạo</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var post in Model)
                    {
                        <tr>
                            <td>@post.Title</td>
                            <td>@post.ShortDescription</td>
                            <td>@post.Description</td>
                            <td>@post.ImageUrl</td>
                            <td>@post.ApplicationUserId</td>
                            <td>
                                <a asp-action="ResetPassword" asp-controller="User" asp-route-id="@post.Id" class="btn btn-info">Sửa bài viết</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table> *@
        </div>
    </div>
</div>


