@using X.PagedList;
@model IPagedList<WebBlog.ViewModels.PostVM>
@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common
@{
    ViewData["Title"] = "Danh sách bài viết";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    <a class="btn btn-primary mb-1" asp-action="Create" asp-controller="Post">Tạo bài biết</a>
    <div class="card">
        <div class="card-header bg-primary">
            <h4 class="card-title text-white">Danh sách bài viết</h4>
        </div>
        <div class="card-body container-fluid" style="background-color:lightgray">
            @foreach (var post in Model)
            {
             <div  class="rounded mb-4 bg-white p-2">
                 <div class="row">
                    <div class="col-2 d-flex justify-content-center flex-column">
                        @if (post.ImageUrl == null)
                        {
                            <img class="img-fluid" src="~/image/default_image.png" style="object-fit:cover;height:100%;width:100%">
                        }
                        else
                        {
                                <img class="img-fluid" src="~/image/@post.ImageUrl" style="object-fit:cover;height:100%;width:100%">
                        }
                    </div>
                     <div class="col-5 d-flex justify-content-center flex-column">
                        <h4 style="font-size:1.5rem; font-weight:bolder" class="text-primary fw-bold">@post.Title</h4>
                        <p>Tác giả: @post.AuthorName</p>
                        <p>Ngày viết: @post.CreatedDate</p>
                     </div>
                     <div class="col-5 text-right">
                         <div class="d-flex justify-content-end align-items-center m-1">
                                <a class="btn btn-warning" asp-area="Admin" asp-controller="Post" asp-action="Edit" asp-route-id="@post.Id" method="post">Sửa</a> |
                                @* <form method="post" asp-area="Admin" asp-controller="Post" asp-action="Edit" asp-route-id="@post.Id">
                            <button type="submit" class="btn btn-warning">Sửa</button> |
                            </form> *@
                                <form method="post" asp-area="Admin" asp-controller="Post" asp-action="Delete" asp-route-id="@post.Id" onsubmit="return confirm('Bạn có chắc chắn muốn xóa bài viết')">
                                    <button type="submit" class="btn btn-danger">Xóa</button>
                                </form>
                         </div>
                            
                            
                     </div>
                 </div>
             </div>
            }
        </div>
        <div class="card-footer">
            Page @(Model?.PageCount < Model?.PageNumber ? 0 : Model?.PageNumber) of @Model?.PageCount
            @Html.PagedListPager(Model,page => Url.Action("Index",
            new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }),
            new PagedListRenderOptions()
            {
            ContainerDivClasses = new List<string> {"d-flex justify-content-center mb-4"},
            UlElementClasses = new List<string> {"pagination"},
            LiElementClasses = new List<string> {"btn btn-info mx-1 text-uppercase"},
            ActiveLiElementClass =  "active",
            })
        </div>
    </div>
</div>


