@model WebBlog.ViewModels.BlogPostVM


@{
    ViewData["Title"] = "Bài viết";
    string imageBlogPost = "";
    if(Model.ImageUrl == null)
    {
        imageBlogPost = "assets/img/post-bg.jpg";
    }
    else
    {
        imageBlogPost = "/image/" + Model.ImageUrl;
    }
}

<header class="masthead" style="background-image: url('@imageBlogPost')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="post-heading">
                    <h1>@Model.Title</h1>
                    <h2 class="subheading">@Model.ShortDescription</h2>
                    <span class="meta">
                        <p class="post-meta">
                            Đăng bởi:
                            <a href="#!">@Model.AuthorName</a>
                            Thời gian: @Model.CreateDate.ToShortDateString();
                        </p>
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Post Content-->
<article class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                @Html.Raw(Model.Description)
            </div>
        </div>
    </div>
</article>